h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 200%;
}

h1:hover {
	color: #007bff;
}

a {
	cursor: pointer;
	font-family: 'Crete Round', serif;
	font-size: 16px;
}

.banner {
	margin-right: -15px;
	margin-left: -15px;
	min-height: 100px;
	border-bottom: 8px solid #007bff;
}

.toggler {
	box-shadow: 0 0 0 #000;
}